@charset "UTF-8";

@font-face {
    font-family: UnifrakturCook-bold;
    src: url(/fontes/UnifrakturCook-Bold.ttf);
}
@font-face {
    font-family: ShadowsIntoLight-Regular;
    src: url(/fontes/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: Unbounded-Variablefont;
    src: url(/fontes/Unbounded-VariableFont_wght.ttf);
}

*{
    outline: 0;
}
.sp{
    background-color:transparent;
}
#link, a{
    font-family: UnifrakturCook-bold;
    color:#fff;
    font-size: 1em;
}
#p1{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url('https://www.ead.iapajus.com.br/metronic/assets/media/logos/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    
}

section{
    margin: auto;
    width: 500px;
    height: 350px;
    border-radius: 5px;
    border: 2px solid rgb(0, 215, 136);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);

    margin-top: 30px;
    margin-bottom: 30px;
    
}

#form{
   width: 94%;
   height: 91%;
   padding: 15px;
   
}
h2{
    font-family: Unbounded-Variablefont;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    text-align: center;
    color:rgb(3, 187, 119)
    
}
/**INPUTS*/
#btn-rodape-form{
    display: flex;
    justify-content: right;
}

#btn-rodape-form > button[type=submit]{
    width: 20%;
    height: 40px;
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
    border: 1px solid rgb(0, 215, 136);
    border-radius: 5px;
    background-color:rgb(0, 215, 136); ;
    
    
}
#btn-rodape-form > button[type=reset]{
    width: 20%;
    height: 40px;
    margin-top: 40px;
    border: 2px solid rgba(255, 255, 255, 0.493);
    color: #fff;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
  
    
    
}
#btn-rodape-form  > button[type="submit"]:hover{
    cursor: pointer;
    color: #fff;

    background-color:rgba(44, 240, 168, 0.178);
   
}
#btn-rodape-form  > button[type="reset"]:hover{
    cursor: pointer;
    background-color: rgb(0, 215, 136);

    color: #fff;
   
}

/* ---------- Estilos dinâmicos ---------- */
#textFormEmail{
    color: rgb(0, 215, 136);
    font-size: .8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#textForm{
    color: rgb(0, 215, 136);
    margin-top: 10px;
    font-size: .8em;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

/*---------Estilos do input----------*/
div.campo{
    margin: 5px 0px;
    width: 100%;
    height: 39px;
    border: 1px solid rgba(49, 49, 49, 0.295);
    background-color: #fff;
   
} 

div.campo > span{
    color:rgb(0, 215, 136);
    padding: 6px;

}
div.campo > input{
    width:calc(85.5%);
    transform: translateY(-8px);
    border: none;
    padding: 8px;

}
div.campo > input:hover{
    transition-delay: 1s;
    color: #000;
   

}

/*********estilização do botao lateral***********/

.btn-responsivo2{ 
    position:fixed;
    bottom:20px;
    right: 30px;
  
    }
    span#botao-menu{
      font-size: 55px;
      color: rgb(0, 215, 136);
      cursor: pointer;
      display: block;
      
    }
    ul{
      list-style: none;
  
    }
    button{
      outline: none;
      background-color:#223A59;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      margin:5px;

      color: #fff;
     
    }
    button:hover{
      cursor: pointer;
      transition-duration: 100ms;
      width: 45px;
      height: 45px;

    }

/**media query**/

 @media (max-width: 1200px){
    html{
        font-size: 90%;

    }
    section{
        width: 600px;
        height: 300px;
    }
    #form{
        width: 95%;
        height:90%;
        padding: 15px;
    }
    div.campo > input{
        padding: 11px;
    }
 }

  @media (max-width: 992px) {
    html{
        font-size: 70%;
    }
    section{
        width: 60%;
        height: 60%;
    }
    #form{
        width: 95%;
        height:60%;
        padding: 15px;
    }
  }
  @media  (max-width: 778px) {
    html { 
        font-size: 70%;
    }

    section{
        width: 50%;
        height: 50%;
    }

    img {
        width: 60%;
        height:60%;
        }
       
    
        #form{
            width: 89%;
            height:60%;
            padding: 15px;
        }
      #btn-rodape-form{
        display:flex;
        flex-wrap: wrap;
                
      }
        #btn-rodape-form > button[type="submit"]{
            height: 30px;
            width: 100%;
          
        }
        
        #btn-rodape-form> button[type="reset"]{
            height: 30px;
            width: 100%;
            margin-top: 10px;
           
        }
        div.campo > input{
            padding: 10px;
            width: 70%;
               
  }

  
}

@media(max-width:471px){
    html{
        font-size: 30%;
    }
    section{
        width: 50%;
        height: 30%;
    }
     
    #form{
        width: 86%;
       
    }
    .btn-responsivo2{
        position:fixed;
        bottom:200px;
        right: 10px;
    }
    div.campo > input{
        width:calc(60.5%);
       transform: translateY(-10px);
    }
    #btn-rodape-form > button[type="submit"]{
        height: 30px;
        width: 40%;
        margin-left: 50px;
    }
    
    #btn-rodape-form > button[type="reset"]{
        display: none;
       
    }
}

