*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --body-color: #f5faf9;
    --purple: #0483fa;
    --nav: #0a0a0e;
    --footer: #A3A5AA;
}

header{
    background-color: var(--nav);
}

#nav-logo{
    margin-left: 32.0rem;
    padding: 1.5rem;
}

#nav-logo span{
    color:white;
    font-size: 3.0rem;
    text-align: center;
}

span{
    color: white;
    
}

nav{
 display: flex;
 justify-content: space-around;
 /*justify-content: space-around;*/ /*Teste
 /*justify-content: space-evenly;*/ /*Teste*/
 align-items: center;
 flex-wrap: wrap;
 background-color:var(--nav);
 padding: 0.5em;
}

ul{
    display: flex;
    gap: 1.5em;
    color: white
       
}
a{
    color: var(--nav-text-color)
}
.button{
    border-radius: 20em;
    padding: 0.3em;
    background-color: rgb(235, 221, 25);
    color: var(--nav-text-color)
}


#carousel{
    margin-top:1.5rem;
}
section{
    display: flex;
    width: 1024px;
    height: auto;
    margin: 0px 0px 0px 200px;
    

}
main{
    width: 80%;
    height: auto;
   
              
}
.area-noticia{
    padding: 10px;
}

.area-noticia h1{
    padding-top: 20px;
    padding-bottom: 10px;
}

.sidebar{
    width:20%;
    margin-top: 2px;
    margin-bottom: 2px;
     
}
.area-pesquisar{
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: 2px;   
}
#btn-pesquisar input{
  border: 1px solid silver
}

.sidebar-col{
   
    width: 92%;
    margin-left: 0px;
    height: auto;
}
.sidebar-col2{
    border: 1px solid silver
}
.sidebar-col3 img{
    width: 100%;
    height: 120px;
    margin-top:px;
}
#area-img{
    margin-top: 50px;      
    display: flex;
}
.img-noticia{
    width: 380px;
    height: 240px;
    padding: 10px;
    cursor: pointer;
   
}

#btnLeiaMais{
    border-radius: 1.0rem;
    background-color: rgb(11, 158, 243);
    width: 80px;
    padding: 0.5rem;
    margin: 10px;
    color: white;
}
#area-midia-in{
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    display: flex;
    margin-left: 0.5rem;
    gap: 0.8rem;
     
}
video{
    margin-top: 20px;
    cursor: pointer;
    width: 460px;
}
p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
footer{
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer);
}

/*FORMATAÇÃO DO SUB-MENU

#nav-sub ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
}

ul li {
position: relative;
}

li ul {
position: absolute;
left: 149px;
top: 0;
display: none;
}

ul li a {
display: block;
text-decoration: none;
color: #E2144A;
background: #fff;
padding: 5px;
border: 1px solid #ccc;
}

li:hover ul { display: block; }